<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Author" content="RobertoCarvalho" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Encontrar Alunos</title>
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
    <div class="container" style="margin-top: 50px;">
        <h4>Encontrar Alunos</h4>
        <hr>
        <br>
        <form  method="post">
            <div class="input-group col-6 offset-3">
                <input type="text" class="form-control" placeholder="Busque por o nome do Aluno...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary btn-pesquisa">Pesquisar</button>
                </div>
            </div>
        </form>
        <br>
        <hr>
        <div class="container-alunos">
             <!-- Alunos ativos -->
        <div class="row">
            <div class="card" style="width: 288px;">
				<a th:href="@{/alunos-ativos}" > <img class="card-img-top" src="img/alunos-ativos.jpg"></a>
                <div class="card-body">
                    <h5 class="card-title">Alunos Ativos</h5>
                    <p class="card-text">Busque por todos alunos que estão ativos no sistema.</p>
                    <a th:href="@{alunos-ativos}" class="btn btn-outline-primary btn-filtroAluno">Clique Aqui!</a>
                </div>
            </div>
        </div>

         <!-- Alunos inativos -->
         <div class="row">
            <div class="card " style="width: 288px;">
				<a th:href="@{/alunos-inativos}" ><img class="card-img-top" src="img/alunos-inativos.jpg"></a>               
                <div class="card-body">
                    <h5 class="card-title">Alunos Inativos</h5>
                    <p class="card-text">Busque por todos alunos que estão Inativos no sistema.</p>
                    <a th:href="@{alunos-inativos}" class="btn btn-outline-primary btn-filtroAluno">Clique Aqui!</a>
                </div>
            </div>
        </div>

         <!-- Alunos trancados -->
         <div class="row">
            <div class="card" style="width: 288px;">
				<a th:href="@{/alunos-trancados}" ><img class="card-img-top" src="img/alunos-trancados.jpg"></a>              
                <div class="card-body">
                    <h5 class="card-title">Alunos Trancados</h5>
                    <p class="card-text">Busque por todos alunos que estão Trancados no sistema.</p>
                    <a th:href="@{alunos-trancados}" class="btn btn-outline-primary btn-filtroAluno">Clique Aqui!</a>
                </div>
            </div>
        </div>

         <!-- Alunos cancelados -->
         <div class="row">
            <div class="card" style="width: 288px;">
				<a th:href="@{/alunos-cancelados}" ><img class="card-img-top" src="img/alunos-cancelados.jpg"></a>               
                <div class="card-body">
                    <h5 class="card-title">Alunos Cancelados</h5>
                    <p class="card-text">Busque por todos alunos que estão Cancelados  no sistema.</p>
                    <a th:href="@{alunos-cancelados}" class="btn btn-outline-primary btn-filtroAluno">Clique Aqui!</a>
                </div>
            </div>
        </div>
        </div>
       
        
        
    </div>
</body>
</html>